In [1]:
import pandas as pd
import numpy as np
import os
from pprint import pprint

In [2]:
# nodes=[4, [7] * 4, [2] * 28]

In [3]:
agg_mat = pd.read_csv('agg_mat.csv')
# agg_mat
agg_mat_max = agg_mat.values
agg_mat_max = agg_mat_max[:,1:]
agg_mat_max.shape

(555, 304)

In [4]:
nbts = agg_mat.shape[1]
nts  = agg_mat.shape[0]
naggts = nts - nbts
print("nbts:", nbts)
print("nts:", nts)
print("naggts:", naggts)

nbts: 305
nts: 555
naggts: 250

In [5]:
data = pd.read_csv('TourismData_v3.csv')
data = data.iloc[:,2:]
# data = data.drop(["Unnamed: 0"], axis=1)
# data_bts = data.iloc[:,-nbts+1:]

In [6]:
data

,AAAHol,AAAVis,AAABus,AAAOth,AABHol,AABVis,AABBus,AABOth,ABAHol,ABAVis,...,GBBBus,GBBOth,GBCHol,GBCVis,GBCBus,GBCOth,GBDHol,GBDVis,GBDBus,GBDOth
0,2015.444457,1379.273926,230.099578,118.238146,936.208816,297.944688,0.000000,0.000000,915.526615,361.161122,...,0.000000,0.000000,7.536223,0.000000,1.628948,0.000000,0.811856,0.000000,9.478051,0.0
1,514.337600,645.980857,450.509894,80.836085,139.829461,96.072530,3.800647,5.862538,211.001057,346.151398,...,1.045797,0.000000,0.000000,0.000000,5.296459,0.000000,0.522899,0.000000,0.000000,0.0
2,532.097470,683.284592,520.458259,138.306554,117.980175,97.113121,28.431680,0.000000,227.458798,185.651451,...,0.000000,0.000000,2.945006,1.425324,9.924744,3.100121,0.000000,0.000000,0.000000,0.0
3,534.059083,819.807646,755.506898,97.089844,202.266724,196.414355,10.812915,0.000000,1273.068333,265.980973,...,11.461824,0.000000,26.419176,13.690603,2.312088,0.000000,0.000000,10.958005,2.312088,0.0
4,505.222272,693.531752,880.152314,82.210784,121.775526,73.542768,12.185418,24.524678,259.541675,169.085846,...,0.000000,0.000000,23.789282,67.846207,1.282767,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,383.526216,838.269610,455.637579,458.064241,86.281072,83.870793,0.000000,0.000000,228.048826,243.160300,...,7.874448,0.000000,49.899947,8.300225,17.633478,8.218562,4.121631,0.408894,1.625820,0.0
224,484.959998,512.190298,451.742958,194.214472,120.465489,46.129082,251.544316,0.000000,181.893020,333.526684,...,0.421996,0.000000,80.058887,37.306013,109.024164,46.447153,11.661140,3.557735,4.448534,0.0
225,399.867668,907.197296,527.255352,102.575984,201.400342,118.033070,6.457149,4.387921,444.169346,229.721638,...,35.375093,0.273247,52.156131,2.093902,50.283538,3.319366,0.754941,0.000000,0.000000,0.0
226,347.337052,836.958504,978.793782,386.733133,76.961404,139.986929,10.674886,8.834427,324.585224,217.713292,...,10.723090,39.292496,8.344998,7.697995,43.270319,0.000000,0.000000,0.000000,5.180648,0.0
227,287.962683,905.432815,851.208690,227.742052,155.903481,221.231957,21.820660,5.157210,330.738835,277.557351,...,0.000000,0.000000,2.418446,0.000000,0.762140,1.055685,0.000000,0.000000,9.966514,0.0

In [7]:
better_names = []
for name in list(data.columns):
    name_split = [ 'T', name[0], name[1], name[2], name[3:] ]
    name_join  = ("-").join(name_split)
    better_names.append(name_join)

In [8]:
# better_names

In [9]:
tags = []
for ts_name in better_names:
    path_list = [] 
    ts_split  = ts_name
    ts_split  = ts_split.split("-")
#     ts_split.insert(0,'T')
    for idx in range(1,len(ts_split)+1):
        path_list.append("-".join(ts_split[:idx]))
    tags.append(path_list)

In [10]:
tags = np.array(tags)
np.savetxt("tags.csv", tags, delimiter=",", fmt='%s')

In [11]:
tags

array([['T', 'T-A', 'T-A-A', 'T-A-A-A', 'T-A-A-A-Hol'],
       ['T', 'T-A', 'T-A-A', 'T-A-A-A', 'T-A-A-A-Vis'],
       ['T', 'T-A', 'T-A-A', 'T-A-A-A', 'T-A-A-A-Bus'],
       ...,
       ['T', 'T-G', 'T-G-B', 'T-G-B-D', 'T-G-B-D-Vis'],
       ['T', 'T-G', 'T-G-B', 'T-G-B-D', 'T-G-B-D-Bus'],
       ['T', 'T-G', 'T-G-B', 'T-G-B-D', 'T-G-B-D-Oth']], dtype='<U11')

In [12]:
# # improve column names
# colnames = []
# for name in list(data.columns):
# #     name_reverse = eval(name)[::-1]
#     name_split = name.split("-")
#     if len(name_split) > 1:
#         name_split[0],name_split[1] = name_split[1],name_split[0]
#     better_name =  ("-").join(name_split)
# #     name_reverse = name_split[::-1]
#     colnames.append(better_name)

In [13]:
# # take names of bottom time series
# bts_names = colnames[-nbts+1:]

In [14]:
# tags = []
# for ts_name in bts_names:
#     path_list = [] 
#     ts_split  = ts_name
#     ts_split  = 'T-'+ts_name
#     ts_split  = ts_split.split("-")
# #     ts_split.insert(0,'T')
#     for idx in range(1,len(ts_split)+1):
#         path_list.append("-".join(ts_split[:idx]))
# #     print(path_list)
#     tags.append(path_list)

In [15]:
# tags = np.array(tags)
# np.savetxt("tags.csv", tags, delimiter=",", fmt='%s')

In [16]:
# tags